

.text-box {
  text-align: center;
  background-size: cover;
  padding: 2%;
}

.hover {
  text-align: center;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}

.text-box p {
  margin: 0 auto;
  font-size: 1.5rem;
  color: black;
  display: block;
  line-height: 2;
  padding: 5%;
}
.hover:hover {
  background: rgba(225,237,234,0.5);
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 414px) {


.text-box p {
  font-size: 0.75rem;
  padding: 0%;
}



}