header {
  background-attachment: fixed;
  background-image: url('http://cdn.cnn.com/cnnnext/dam/assets/170815093658-china-beautiful-places---huangshan-mountain---flickr---ivan-ahlert-full-169.jpg');
  background-position: center;
  background-size: cover;
  color: #FFF;
  height: 510px;
  margin: 0px auto 20px;
  overflow: hidden;
  padding: 20px 20px 20px 80px;
  position: relative;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

* {
  box-sizing: border-box;
}

.logo {
  padding: 4% 3% 1.5% 3%;
  border: 10px solid rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
  .logo--large {
    font-size: 9rem;
    font-weight: 900;
    position: relative;
  }
  
  .logo--medium {
    background-color: red;
    color: white;
    font-family: 'Unica One', cursive;
    font-size: 4rem;
    font-weight: 400;
    width: 100%;
    margin: -8% 0% 0% 0%;
  }
  
  .logo--small {
    font-family: 'Unica One', cursive;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.195rem;
    text-align: center;
    width: 100%;
  }
  
